img{
border-radius: 50%;
width: 200px;
height: 200px;


} 
body{

background-color: rgba(9, 130, 230, 0.836)  ;

}
header{
    text-align: center;

}
header h1 {

color: white;
    text-align: center;
}

article{

text-align: center;
border: 1px solid black;
border-radius: 20px;
width: 500px;
margin: auto;
background-color: white; 
padding: 10px;
box-shadow: 1px 1px 5px;

}
#botao{


    margin-top: 20px;
    width: 200px;
    height: 50px;
}

#form,#alguma-coisa{
    margin-top: 40px;

}

#form {
    margin-top: 40px;



}
footer{
    color: white;

    text-align: center;
}